li:hover {
    background-color: white;
  }

#lista {
    border: 2px solid black;
    width: 346pt;
    background-color: rgb(243, 140, 174);
}

div {
    margin-bottom: 5px;
}

#egesz {
    border: 2px solid black;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 383pt;
    background-color: lightblue
}

li {
    width: 260px;

}